html,body {
    height: 100%;
  }
  
#sidepanel {
    height: 100%;
    background: yellow;
  }

  #map { height: 100%; }

  .entry:not(:first-of-type)
  {
      margin-top: 10px;
  }
  
  .glyphicon
  {
      font-size: 12px;
  }