html,
body {
    height: 100%;
}



.popup-spinner {
    margin: 10px auto;
    border: 5px solid rgba(150, 150, 150, 0.3);
    border-top: 5px solid #db3460;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

.popup-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* padding: 20px; */
    text-align: center;
}

.popup-header {
    font-size: 20px;
    margin-bottom: 15px;
}

.popup-line {
    margin-bottom: 10px;
    font-size: 13px;

}

.popup-button-container {
    display: flex;
    justify-content: center;
}



/* CSS Styles for the Custom Popup */
.popup-table {
    padding: 10px;
    font-size: 14px;
  }
  
  .popup-key {
    font-weight: bold;
  }
  
  .popup-value {
    word-wrap: break-word;
  }
  

#sidepanel {
    height: 100%;
    background: yellow;
}

#map {
    height: 100%;
}

.form-container {
    background-color: #fdfdfd;
}

.add-one {
    color: green;
    text-align: center;
    cursor: pointer;
    margin-top: 3px;
}

.delete {
    color: white;
    background-color: rgb(231, 76, 60);
    text-align: center;
    margin-top: 6px;
    font-weight: 700;
    border-radius: 5px;
    min-width: 20px;
    cursor: pointer;
}

#singlebutton {
    width: 100%;
    margin-top: 20px;
}

.dynamic-element {
    margin-bottom: 0px;
}

.form-check {
    padding: 3px;
    margin-left: 30px;
}


.autocomplete-results {
    /* position: absolute; */
    position: fixed; /* Change to fixed for centering on the screen */
    /* top: 100%; */
    /* left: 0; */
    z-index: 1000000;
    width: auto;
    max-height: 200px;
    min-width: 250px;
    overflow-y: auto;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
  }
  
  .autocomplete-item {
    padding: 8px;
    cursor: pointer;
  }
  
  .autocomplete-item:hover {
    background-color: #f0f0f0;
  }
  
  .user-profile {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .profile-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
  }

  .profile-details {
    text-align: left;
  }

  .profile-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
